<form [formGroup]="clientForm">
  <mat-form-field appearance="outline" class="client-row-field">
    <mat-label>Imię</mat-label>
    <input type="text" matInput [formControlName]="'firstname'">
    <mat-error *ngIf="clientForm.get('firstname')?.hasError('illegalCharacters')">
      Usuń niedozwolone znaki: {{firstnameIllegalCharacters}}
    </mat-error>
    <mat-error *ngIf="clientForm.get('firstname')?.hasError('required')">
      To pole jest wymagane
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="client-row-field">
    <mat-label>Nazwisko</mat-label>
    <input type="text" matInput [formControlName]="'lastname'">
    <mat-error *ngIf="clientForm.get('lastname')?.hasError('illegalCharacters')">
      Usuń niedozwolone znaki: {{lastnameIllegalCharacters}}
    </mat-error>
    <mat-error *ngIf="clientForm.get('lastname')?.hasError('required')">
      To pole jest wymagane
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="client-row-field">
    <mat-label>E-mail</mat-label>
    <input type="email" matInput [formControlName]="'email'">
    <mat-error *ngIf="clientForm.get('email')?.hasError('contact')">
      contact
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="client-row-field">
    <mat-label>Telefon</mat-label>
    <input type="text" matInput [formControlName]="'phoneNumber'">
    <mat-error *ngIf="clientForm.get('phoneNumber')?.hasError('contact')">
      contact
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="clientForm.hasError('contact') && touched">
    Conajmniej jedno z pól <strong>Email</strong> lub <strong>Telefon</strong> jest wymagane
  </mat-error>
</form>
