$white: #F2F2F2;
$top-bar-color: #E8E8E8;

$dark-gray: #4C4C4C;

$billtech-green-light: #F4F9F6;
$billtech-green: #00953B;
$billtech-green-dark: #007a30;

$ing-orange-light: #FEF1EA;
$ing-orange: #FD6101;
$ing-orange-dark: #C44800;

$simple-transition: all 400ms ease-in-out;
