<div class="add-clients-page-content">
  <div class="add-clients-header">
    Dodaj klientów
  </div>

  <div class="clients-form-columns-headers">
    <div class="form-column">
      Imię
    </div>
    <div class="form-column">
      Nazwisko
    </div>
    <div class="form-column">
      E-mail
    </div>
    <div class="form-column">
      Telefon
    </div>
  </div>
  <form (ngSubmit)="onClientsFormSubmit()"
        class="add-clients-form"
        [formGroup]="clientsForm">
    <div [formArrayName]="'clients'">
      <ng-container *ngFor="let clientControl of clientsFormArray.controls; index as index">
        <app-client-form-row
          [formControlName]="index"
          [formSubmit$]="formSubmitSubject$"
          [showRemoveButton]="clientsFormArray.length !== 1"
          (remove)="removeClientFormRow(index)"
          (statusChanges)="setClientRowStatus(index, $event)">
        </app-client-form-row>
      </ng-container>
    </div>
    <button mat-mini-fab color="primary"
            class="remove-row-button"
            type="button"
            (click)="addNextClientFormRow()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="clients-form-buttons">
      <div class="button-row">
      <button mat-stroked-button type="button"
              color="primary"
              (click)="cancelForm()"
      >Anuluj</button>
      <button mat-raised-button type="submit"
              color="primary"
              [disabled]="clientsForm.invalid"
      >Zapisz</button>
      </div>
    </div>
  </form>
</div>
